# Copy file này thành .env và điền các API Key của bạn vào.
# KHÔNG ĐƯỢC COMMIT FILE .env LÊN GITHUB!

# Cấu hình API LLM cho CLI Agent
GEMINI_API_KEY="AIzaSy_dien_key_cua_ban_vao_day"
# OPENAI_API_KEY="sk_..."
# ANTHROPIC_API_KEY="sk_ant_..."

# Cấu hình GraphRAG-Code
GRAPHRAG_CODE_DB="graphrag_code.sqlite"
PYTHONIOENCODING="utf-8"
PYTHONUTF8="1"
